<div class="table-wrapper" *ngIf="0">
    <div class="table-column" *ngFor="let row of dataColumns">
      <div class="table-header">{{row.label | translate}}</div>
      <div class="table-content row-{{i}} {{row.cssClass}} {{getdataclass(data,row)}}"
           *ngFor="let data of datas;let i = index">{{getdata(data, row) }}
      </div>
    </div>
    <div class="table-action" *ngIf="enableConsult || enableDelete || enableEdit">
      <div class="table-header">&nbsp;</div>
      <div class="table-content row-{{data['id']}} actions" *ngFor="let data of datas">
        <div ngbDropdown class="d-inline-block">
          <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <div (click)="consult(data)" *ngIf="enableConsult">
              <fa-icon [icon]="faEye"></fa-icon>
              {{'common.action.consult' | translate}}
            </div>
            <div (click)="edit(data)" *ngIf="enableEdit">
              <fa-icon [icon]="faEdit"></fa-icon>
              {{'common.action.edit' | translate}}
            </div>
            <div (click)="delete(data)" *ngIf="enableDelete">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
              {{'common.action.delete' | translate}}
            </div>
          </div>
        </div>  
      </div>
    </div>
</div>
<div class="mainGrid  mt-3">
  <div class="gridCol gridHeaders">
      <ng-container *ngFor="let row of dataColumns">
        <div *ngIf="!row.hide" class="gridRow" title="{{row.label | translate}}">{{row.label | translate}}</div>
      </ng-container>
      <div class="gridRow" *ngIf="enableConsult || enableDelete || enableEdit">&nbsp;</div>
  </div>

  <div class="gridCol" *ngFor="let data of datas; let i=index" (click)="click(data)">
    <ng-container  *ngFor="let col of dataColumns">
      <div *ngIf="!col.hide" class="gridRow {{col.cssClass}} {{getdataclass(data,col)}}" title="{{getdata(data, col) }}">{{getdata(data, col) }}</div>
    </ng-container>
    <div class="gridRow actions" *ngIf="enableConsult || enableDelete || enableEdit">
        <div ngbDropdown class="d-inline-block">
          <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <div (click)="consult(data)" *ngIf="enableConsult">
              <fa-icon [icon]="faEye"></fa-icon>
              {{'common.action.consult' | translate}}
            </div>
            <div (click)="edit(data)" *ngIf="enableEdit">
              <fa-icon [icon]="faEdit"></fa-icon>
              {{'common.action.edit' | translate}}
            </div>
            <div (click)="delete(data)" *ngIf="enableDelete">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
              {{'common.action.delete' | translate}}
            </div>
            <div (click)="custom(action.action,data)" *ngFor="let action of customActions">
              <fa-icon [icon]="action.icon"></fa-icon>
              {{action.label}}
            </div>
          </div>
        </div>  
      </div>
  </div>
</div>
<div class="col-12 row p-2" style="padding: 0; margin:0">
  <div class="col-2 d-inline" style="padding:0; margin:0">
    <span class="hidebtn lead text-uppercase" (click)="openModal(columnHide)" style="float: left;">{{'datatable.hide' | translate }}</span>
  </div>
  <div class="col-10 d-inline" style="text-align: right; padding: 0; margin: 0">
    <app-pagination [dataSource]="dataSource" (newData)="refreshGrid($event)"></app-pagination>
  </div>
</div>


<div class="container-table-items col-lg-12 " *ngIf="0">
    <div class="row new-items table-header">
      <div *ngFor="let row of dataColumns" class="col-lg-{{row.size}}">{{row.label |translate}}</div>
    </div>

    <div class="row add-items table-items" *ngFor="let data of datas">
      <div *ngFor="let row of dataColumns" class="col-lg-{{row.size}}">{{data[row.field]}}</div>
    </div>
  <app-pagination [dataSource]="dataSource" (newData)="refreshGrid($event)"></app-pagination>
</div>

<ng-template #columnHide let-modal>
  <h4 class="modal-title" id="modal-basic-title" style="text-align:center">{{'datatable.hide' | translate }}</h4>
  <div class="col-lg-12 row">
    <ng-container *ngFor="let dc of dataColumns">
      <div class="col-lg-10"><label for="{{dc.label}}">{{dc.label | translate}}</label></div>
      <div class="col-lg-2"><input id="{{dc.label}}" type="checkbox" [(ngModel)]="dc.hide"></div>
    </ng-container>
  </div>
  </ng-template>
