<div class="table-wrapper">    
    <div class="table-column" *ngFor="let row of dataColumns">
      <div class="table-header">{{row.label}}</div>
      <div class="table-content row-{{i}}" *ngFor="let data of datas;let i = index">{{data[row.field]}}</div>
    </div>
    <div class="table-action">
      <div class="table-header">&nbsp;</div>
      <div class="table-content row-{{data['id']}}" *ngFor="let data of datas">
        <div ngbDropdown class="d-inline-block">
          <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <div (click)="consult(data)"><fa-icon [icon]="faEye"></fa-icon> Consult</div> 
            <div (click)="edit(data)"><fa-icon [icon]="faEdit"></fa-icon> Edit</div>
            <div (click)="delete(data)"><fa-icon [icon]="faTrashAlt"></fa-icon> Delete</div>
          </div>
        </div>  
      </div>
    </div>
</div>
<div class="table-pagination" *ngIf="!noPagination">
    <app-pagination [restService]="dataSource" (newData)="refreshGrid($event)"></app-pagination>
</div>
<div class="table-pagination" *ngIf="noPagination">
    <mat-paginator></mat-paginator>
</div>


























<div class="container-table-items col-lg-12" *ngIf="0">    
    <div class="row new-items table-header">
      <div *ngFor="let row of dataColumns" class="col-lg-{{row.size}}" >{{row.label}}</div>
    </div>

    <div class="row add-items table-items" *ngFor="let data of datas">
      <div *ngFor="let row of dataColumns" class="col-lg-{{row.size}}">{{data[row.field]}}</div>
        <!--
        <div ngbDropdown class="d-inline-block">
          <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>
          
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <div><fa-icon [icon]="faEye"></fa-icon> Consult</div> 
            <div><fa-icon [icon]="faEdit"></fa-icon> Edit</div>
            <div><fa-icon [icon]="faCopy"></fa-icon> Copy</div>
            <div><fa-icon [icon]="faTrashAlt"></fa-icon> Delete</div>
          </div>
        </div>   
        </div> -->    
    </div>
  <app-pagination [restService]="dataSource" (newData)="refreshGrid($event)"></app-pagination>
</div>