<div class="table-wrapper">    
    <div class="table-column" *ngFor="let row of dataColumns">
      <div class="table-header">{{row.label | translate}}</div>
      <div class="table-content row-{{i}} {{row.cssClass}} {{getdataclass(data,row)}}"
           *ngFor="let data of datas;let i = index">{{getdata(data, row) }}
      </div>
    </div>
    <div class="table-action">
      <div class="table-header">&nbsp;</div>
      <div class="table-content row-{{data['id']}} actions" *ngFor="let data of datas">
        <div ngbDropdown class="d-inline-block">
          <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <div (click)="consult(data)">
              <fa-icon [icon]="faEye"></fa-icon>
              {{'common.action.consult' | translate}}
            </div>
            <div (click)="edit(data)">
              <fa-icon [icon]="faEdit"></fa-icon>
              {{'common.action.edit' | translate}}
            </div>
            <div (click)="delete(data)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
              {{'common.action.delete' | translate}}
            </div>
          </div>
        </div>  
      </div>
    </div>
</div>
<div class="table-pagination">
    <app-pagination [dataSource]="dataSource" (newData)="refreshGrid($event)"></app-pagination>
</div>


<div class="container-table-items col-lg-12" *ngIf="0">
    <div class="row new-items table-header">
      <div *ngFor="let row of dataColumns" class="col-lg-{{row.size}}">{{row.label |translate}}</div>
    </div>

    <div class="row add-items table-items" *ngFor="let data of datas">
      <div *ngFor="let row of dataColumns" class="col-lg-{{row.size}}">{{data[row.field]}}</div>
    </div>
  <app-pagination [dataSource]="dataSource" (newData)="refreshGrid($event)"></app-pagination>
</div>
