.data-table-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.data-table-row {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px 0px 10px 0px;
    text-indent: 5px;
}
.mat-row:hover {
    background-color: #ededed;
}