<div class="col-lg-12 row">
  <div class="col-lg-12">
    <!--
    <app-data-table [dataSource]="profiles" [dataColumns]="['firstname','lastname','vat','active','open']"></app-data-table>
    -->
    <button class="btn btn-outline-secondary" (click)="openModal(content)"><fa-icon [icon]="faPlus"></fa-icon> Add</button>    
    <div class="container-table-items col-lg-12">
        <div class="row new-items table-header">
          <div class="col-lg-4">Firsname</div>
          <div class="col-lg-4">Lastname</div>
          <div class="col-lg-3">VAT</div>
          <div class="col-lg-1"></div>
        </div>
        <div *ngFor="let i of profiles; let idx = index" class="row add-items table-items">
            <div class="col-lg-4">{{i.firstname}}</div>
            <div class="col-lg-4">{{i.lastname}}</div>
            <div class="col-lg-3">{{i.vat}}</div>
            <div class="col-lg-1">
              <div ngbDropdown class="d-inline-block">
                <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>
                
                <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
                  <div (click)="editItem(contentEdit,i,idx)"><fa-icon [icon]="faEdit"></fa-icon> Edit</div>
                  <div (click)="copyItem(i)"><fa-icon [icon]="faCopy"></fa-icon> Copy</div>
                  <div (click)="removeItem(i)"><fa-icon [icon]="faTrashAlt"></fa-icon> Delete</div>
                </div>
              </div>
            </div>
        </div>
        </div>    
        <app-pagination [restService]="invoiceProfileService" (newData)="refreshGrid($event)"></app-pagination>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss" class="col-lg-12">
    <div class="modal-header col-lg-12">
        <h4 class="modal-title" id="modal-basic-title">New Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-lg-12 row">
      <div class="col-lg-4">
        <fieldset>
          <legend>General</legend>
          <div class="col-lg-12"><label>Firsname </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.firstname"></div>
          <div class="col-lg-12"><label>Lastname </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.lastname"></div>
          <div class="col-lg-12"><label>Mail </label><input class="form-control" type="email" [(ngModel)]="newInvoiceProfile.mail"></div>
          <div class="col-lg-12"><label>Phone </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.phoneNumber"></div>
          <div class="col-lg-12"><label>VAT </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.vat"></div>
          <div class="col-lg-12"><label>Account N° </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.accountNumber"></div>
          <div class="col-lg-12 form-check-inline">
            <input class="form-check-input" id="newActiveProfile" type="checkbox" [(ngModel)]="newInvoiceProfile.active">
            <label class="form-check-label" for="newActiveProfile">active profile?</label>
            <input class="form-check-input" id="isNewCustomer" type="checkbox" [(ngModel)]="newInvoiceProfile.customer">
            <label class="form-check-label" for="isNewCustomer">customer profile?</label>
          </div>
        </fieldset>
      </div>
      <div class="col-lg-4">
        <fieldset>
          <legend>Address</legend>
          
          <div class="col-lg-12"><label>Street </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.address.street"></div>
          <div class="col-lg-12"><label>N° </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.address.streetNumber"></div>
          <div class="col-lg-12"><label>City </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.address.city"></div>
          <div class="col-lg-12"><label>Postcode </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.address.postcode"></div>
          <div class="col-lg-12"><label>Country </label><input class="form-control" type="text" [(ngModel)]="newInvoiceProfile.address.country"></div>
        </fieldset>
      </div>
      <div class="col-lg-4">
        <fieldset>
          <legend>Logo</legend>
          <div class="col-lg-12 row">
            <div  *ngIf="!newInvoiceProfile.logo" class="col-lg-12">
              <svg width="100%" height="100%" style="background-color: rgb(243, 243, 243);border:dashed 2px rgb(146, 146, 146);" for="logo">
                  <text x="27%" y="50%" fill="#999" style="font-weight: bold">Your logo</text>
              </svg>
            </div>
            <div *ngIf="newInvoiceProfile.logo && newInvoiceProfile.logo.id" class="col-lg-12">
              <img *ngIf="newInvoiceProfile.logo" [src]="getLogo(newInvoiceProfile.logo)" width="100%" height="100%"/>
            </div>
            <div class="col-lg-12">
              <label *ngIf="!loadingLogo" class="btn btn-success" for="logo">Change</label>
              <div *ngIf="loadingLogo" class="progress">
                <div class="progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <input id="logo" type="file" style="display:none" (change)="changeLogo($event,newInvoiceProfile)">
        </fieldset>
      </div>
    </div>
    <div class="modal-footer col-lg-12">
        <button  (click)="save(newInvoiceProfile)" type="button" class="btn btn-outline-secondary  new-invoice">Save profile</button>
    </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss" class="col-lg-12">
    <div class="modal-header col-lg-12">
        <h4 class="modal-title" id="modal-basic-title">Edit Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-lg-12 row">
      <div class="col-lg-4">
        <fieldset>
          <legend>General</legend>
  
          <div class="col-lg-12"><label>Firsname </label><input class="form-control" type="text" [(ngModel)]="currentProfile.firstname"></div>
          <div class="col-lg-12"><label>Lastname </label><input class="form-control" type="text" [(ngModel)]="currentProfile.lastname"></div>
          <div class="col-lg-12"><label>Mail </label><input class="form-control" type="mail" [(ngModel)]="currentProfile.mail"></div>
          <div class="col-lg-12"><label>Phone </label><input class="form-control" type="text" [(ngModel)]="currentProfile.phoneNumber"></div>
          <div class="col-lg-12"><label>VAT </label><input class="form-control" type="text" [(ngModel)]="currentProfile.vat"></div>
          <div class="col-lg-12"><label>Account N° </label><input class="form-control" type="text" [(ngModel)]="currentProfile.accountNumber"></div>
          <div class="col-lg-12 form-check-inline">
            <input class="form-check-input" id="editActiveProfile" type="checkbox" [(ngModel)]="currentProfile.active">
            <label class="form-check-label" for="editActiveProfile">active profile?</label>
            <input class="form-check-input" id="isEditCustomer" type="checkbox" [(ngModel)]="currentProfile.customer">
            <label class="form-check-label" for="isEditCustomer">customer profile?</label>
          </div>

        </fieldset>
      </div>
      <div class="col-lg-4">
        <fieldset>
          <legend>Address</legend>
          
          <div class="col-lg-12"><label>Street </label><input class="form-control" type="text" [(ngModel)]="currentProfile.address.street"></div>
          <div class="col-lg-12"><label>N° </label><input class="form-control" type="text" [(ngModel)]="currentProfile.address.streetNumber"></div>
          <div class="col-lg-12"><label>City </label><input class="form-control" type="text" [(ngModel)]="currentProfile.address.city"></div>
          <div class="col-lg-12"><label>Postcode </label><input class="form-control" type="text" [(ngModel)]="currentProfile.address.postcode"></div>
          <div class="col-lg-12"><label>Country </label><input class="form-control" type="text" [(ngModel)]="currentProfile.address.country"></div>
        </fieldset>
      </div>
      <div class="col-lg-4">
        <fieldset>
          <legend>Logo</legend>
          <div class="col-lg-12 row">
            <div *ngIf="!currentProfile.logo" class="col-lg-12">
              <svg width="100%" height="100%" style="background-color: rgb(243, 243, 243);border:dashed 2px rgb(146, 146, 146);" for="logo">
                  <text x="27%" y="50%" fill="#999" style="font-weight: bold">Your logo</text>
              </svg>
            </div>
            <div *ngIf="currentProfile.logo && currentProfile.logo.id" class="col-lg-12">
              <img *ngIf="currentProfile.logo"  [src]="getLogo(currentProfile.logo)" width="100%" height="100%"/>
            </div>
            <div class="col-lg-12">
              <label *ngIf="!loadingLogo" class="btn btn-success" for="logo">Change</label>
              <div *ngIf="loadingLogo" class="progress">
                <div class="progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <input id="logo" type="file" style="display:none" (change)="changeLogo($event,currentProfile)">
        </fieldset>
      </div>
    </div>
    <div class="modal-footer col-lg-12">
        <button  (click)="save(currentProfile)" type="button" class="btn btn-outline-secondary  new-invoice">Save profile</button>
    </div>
</ng-template>
