<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="toggleNavbarShow()" id="navbarTogglerDemo01">
    <img width="16" height="16" src="favicon.ico">
    <a class="navbar-brand p-0" routerLink="/"><i>{{'main.title' | translate}}&nbsp;</i></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-1">
      <li class="nav-item" *ngFor="let m of menu" (click)="click(m);m.selected=true;">
        <a routerLink="{{m.route}}" class="nav-link text-white">
          <fa-icon [icon]="m.icon" [ngStyle]="{color: m.color}" width="50px"></fa-icon>
          <span [ngStyle]="{'color': m.selected ? m.color:''}">&nbsp;{{m.label | translate}}</span>
        </a>

      </li>
      <li class="dropdown nav-item" dropdown>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link text-white " href="#" (click)="$event.preventDefault()" id="dropLang" ngbDropdownToggle>
            <fa-icon [icon]="faLanguage" width="50px"></fa-icon>&nbsp;{{'common.language'| translate}}</a>
          <div ngbDropdownMenu aria-labelledby="dropLang">
            <button class="dropdown-item" (click)="useLanguage('fr')">
              <span class="flag-icon flag-icon-fr "></span>&nbsp;FR
            </button>
            <button class="dropdown-item" (click)="useLanguage('nl')">
              <span class="flag-icon flag-icon-nl"></span>&nbsp;NL
            </button>
            <button class="dropdown-item" (click)="useLanguage('en')">
              <span class="flag-icon flag-icon-gb"></span>&nbsp;EN
            </button>
          </div>
        </div>
      </li>
      <!--
      <hr class="recent-hr"/>
      <ul class="recent">
        recent
        <li><fa-icon [icon]="faFileInvoice"></fa-icon> TODO</li>
        <li><fa-icon [icon]="faFileInvoice"></fa-icon> TODO</li>
      </ul>-->
    </ul>
    <div *ngIf="!isLoggedIn()" class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="username" name="username" class="form-control mr-sm-2" type="text"
             [placeholder]="'common.username' | translate" aria-label="Username">
      <input (keydown.enter)="login()" [(ngModel)]="password" name="password" class="form-control mr-sm-2"
             type="password" [placeholder]="'common.password' | translate"
             aria-label="Password">
      <button class="btn btn-outline-info text-white my-2 my-sm-0" type="button" (click)="login()">{{'common.signin' |
        translate}}
      </button>
    </div>
    <div *ngIf="isLoggedIn()" class="form-inline my-2 my-lg-0">
      <span class="text-white">{{'common.greeting' | translate}} {{getUser().username}}</span>&nbsp;
      <button class="btn btn-outline-danger text-white my-2 my-sm-0" type="button" (click)="logout()">{{'common.logout'
        | translate}}
      </button>
    </div>
  </div>
</nav>
<div class="" *ngIf="isLoggedIn()">
  <div class="container-fluid routerContent">
    <div *ngIf="currentMenu" class="col-lg-12">
      <fa-icon [icon]="currentMenu.icon" class="header-icon"
               [ngStyle]="{'border-color': currentMenu.color, 'color': currentMenu.color}"></fa-icon>
            <h5>
              {{currentMenu.label | translate}}
            </h5>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row col-sm-12" *ngIf="!isLoggedIn()">
  <div class="container">
    <div class="alert alert-danger">
      <p>{{'error.forbidden' | translate}}</p>
    </div>
  </div>
</div>
