<div class="menu-top"><div class="brand">Invoicer</div></div>
<div class="row">
    <div class="col-sm-2 sidebar">
        <ul>
            <li><fa-icon [icon]="faHome"></fa-icon> Menu</li>
            <li><fa-icon [icon]="faHistory"></fa-icon> History</li>

            <li *ngFor="let m of menu" routerLink="{{m.route}}" routerLinkActive="selected" [ngStyle]="{'color': m.selected ? m.color:''}" (click)="click();m.selected=true">
                <fa-icon [icon]="m.icon" [ngStyle]="{color: m.color}" width="50px"></fa-icon>
                {{m.label}}
            </li>
        </ul>
        <hr class="recent-hr"/>
        <ul class="recent">
            recent
            <li><fa-icon [icon]="faFileInvoice"></fa-icon> My Money</li>
            <li><fa-icon [icon]="faFileInvoice"></fa-icon> Customer</li>
        </ul>
    </div>
    <div class="col-sm-10 routerContent">
        <router-outlet></router-outlet>
    </div>
</div>

