<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="toggleNavbarShow()" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Invoicer</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngFor="let m of menu" (click)="click(m);m.selected=true;">
        <a routerLink="{{m.route}}" class="nav-link text-white">
          <fa-icon [icon]="m.icon" [ngStyle]="{color: m.color}" width="50px"></fa-icon>
          <span [ngStyle]="{'color': m.selected ? m.color:''}">&nbsp;{{m.label}}</span>
        </a>
      </li><!--
      <hr class="recent-hr"/>
      <ul class="recent">
        recent
        <li><fa-icon [icon]="faFileInvoice"></fa-icon> TODO</li>
        <li><fa-icon [icon]="faFileInvoice"></fa-icon> TODO</li>
      </ul>-->
    </ul>
    <div *ngIf="!isLoggedIn()" class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="username" name="username" class="form-control mr-sm-2" type="text" placeholder="username"
             aria-label="Username">
      <input (keydown.enter)="login()" [(ngModel)]="password" name="password" class="form-control mr-sm-2"
             type="password" placeholder="password"
             aria-label="Password">
      <button class="btn btn-outline-info text-white my-2 my-sm-0" type="button" (click)="login()">Sign in</button>
    </div>
    <div *ngIf="isLoggedIn()" class="form-inline my-2 my-lg-0">
      <span class="text-white">Welcome {{getUser().username}}</span>&nbsp;
      <button class="btn btn-outline-danger text-white my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<div class="" *ngIf="isLoggedIn()">
  <!--   <div class="col-sm-2 sidebar">

         <div class="col-sm-12 row" *ngFor="let m of menu" routerLink="{{m.route}}" routerLinkActive="selected" [ngStyle]="{'color': m.selected ? m.color:''}" (click)="click(m);m.selected=true">
             <div class="col-sm-2"><fa-icon [icon]="m.icon" [ngStyle]="{color: m.color}" width="50px"></fa-icon></div>
             <div class="col-lg-10">{{m.label}}</div>
         </div>
         <hr class="recent-hr"/>
         <ul class="recent">
             recent
             <li><fa-icon [icon]="faFileInvoice"></fa-icon> TODO</li>
             <li><fa-icon [icon]="faFileInvoice"></fa-icon> TODO</li>
         </ul>
     </div>-->
  <div class="container-fluid routerContent">
    <div *ngIf="currentMenu" class="col-lg-12">
      <fa-icon [icon]="currentMenu.icon" class="header-icon"
               [ngStyle]="{'border-color': currentMenu.color, 'color': currentMenu.color}"></fa-icon>
            <h5>
                {{currentMenu.label}}
            </h5>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row col-sm-12" *ngIf="!isLoggedIn()">
  <div class="container">
    <div class="alert alert-danger">
      <p>Forbidden. Please log in</p>
      <p>User: user, password: user</p>
      <p>User: admin, password: admin</p>
    </div>
  </div>
</div>
