.new-items.table-header {
    background-color: rgb(103, 157, 255);
    padding: 10px;
    color: #fff;
    font-weight: 600;
}
.add-items.table-items {
   /* background-color: rgb(247, 255, 137);*/
    padding: 5px;
    color: #333;
    border-bottom: solid 1px #ddd;
    padding: 0;
}
.add-items.table-items > div {
    padding: 5px;
    height: 48px;
    padding: 15px;
   /* border-right:solid 1px #ddd;*/
}
.add-items.table-items > div:last-of-type {
    border-right:none;
}
.new-items {
    margin-top: 25px;
}
.new-items>div{
    padding:0;
}
.add-items>div {
    border-right:none;
    padding: 5px;
}
.delete-item {
    background-color: rgb(207, 56, 56);
    margin-right: 2px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    color: #EEE !important;
}
.edit-item {
    background-color: rgb(56, 207, 119);
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    color: #EEE !important;
}
.modal-body > div > label{
    display: block !important;
    margin: 0 !important;
    margin-top: 7px !important;
}

.container-table-items {
    box-shadow: 1px 1px 1px 1px #ddd;
}