.page{
    padding: 3px;
    color: blue;
    cursor: pointer;
}
.page.selected{
    font-weight: 600;
}
.pagination {
    font-size: 10px !important;
    color: rgb(97, 97, 97) !important;
}
div {
    padding: 0 !important;
    margin: 0 !important;
}