<div class="container col-lg-12 invoice-view" id="invoice">
  <a (click)="captureScreen()">cature</a>
<div class="invoice-header col-lg-12 row">
  <div class="logo col-lg-10"><img [src]="getLogo(invoice.invoicer.logo)" height="75px" width="75px"/></div>
  <div class="label col-lg-2"><label>INVOICE</label></div>
  <div class="to col-lg-10 bill-to">
    <p>
    <label><b>Bill to :</b></label><br/>
    <label><b>{{invoice.invoiced.lastname}}</b></label><br/>
    <label>{{invoice.invoiced.address.street}}</label><br/>
    <label>{{invoice.invoiced.address.postcode}}, {{invoice.invoiced.address.city}}</label><br/>
    <label>VAT N°: {{invoice.invoiced.vat}}</label><br/>
  </p>
</div>
  <div class="id col-lg-2">{{invoice.invoiceNumber}}</div>
</div>
<div class="col-lg-12 items-header">
  <div class="col-lg-12 row">
    <div class="col-lg-3 item-header">PROJECT</div>
    <div class="col-lg-1 item-header">PERIOD</div>
    <div class="col-lg-4 item-header">NATURE</div>
    <div class="col-lg-1 item-header">DAYS</div>
    <div class="col-lg-1 item-header">RATE</div>
    <div class="col-lg-2 item-header">AMOUNT</div>
  </div>
</div>
<div class="col-lg-12 items">
  <div *ngFor="let i of invoice.items" class="col-lg-12 row">
    <div class="col-lg-3 item">{{i.project}}</div>
    <div class="col-lg-1 item" *ngIf="i.period && i.period.from && i.period.to">{{i.period.from.day}}/{{i.period.from.month}}/{{i.period.from.year}} -> {{i.period.to.day}}/{{i.period.to.month}}/{{i.period.to.year}} </div>
    <div class="col-lg-1 item text-danger" *ngIf="!i.period || !i.period.from || !i.period.to">BUG DATE</div>
    <div class="col-lg-4 item">{{i.nature}}</div>
    <div class="col-lg-1 item">{{i.days}}</div>
    <div class="col-lg-1 item">{{i.rate}}</div>
    <div class="col-lg-2 item">{{i.amount}}</div>
  </div>
  <div class="col-lg-12 row">
      <div class="col-lg-3 item-last-but-not-least"></div>
      <div class="col-lg-1 item-last-but-not-least"></div>
      <div class="col-lg-4 item-last-but-not-least"></div>
      <div class="col-lg-1 item-last-but-not-least"></div>
      <div class="col-lg-1 item-last-but-not-least"></div>
      <div class="col-lg-2 item-last-but-not-least"></div>
  </div>
</div>

<div class="col-lg-12 items-footer">
    <div class="col-lg-12 row">
      <div class="col-lg-8"></div>
      <div class="col-lg-2 item-footer-label">SUBTOTAL</div>
      <div class="col-lg-2 item-footer">155</div>
    </div>
  </div>
  
<div class="col-lg-12 items-footer">
    <div class="col-lg-12 row">
      <div class="col-lg-8"></div>
      <div class="col-lg-2 item-footer-label">TAXABLE</div>
      <div class="col-lg-2 item-footer">155</div>
    </div>
  </div>

  
<div class="col-lg-12 items-footer">
    <div class="col-lg-12 row">
      <div class="col-lg-8"></div>
      <div class="col-lg-2 item-footer-label">VAT RATE</div>
      <div class="col-lg-2 item-footer">155</div>
    </div>
  </div>

  
<div class="col-lg-12 items-footer">
    <div class="col-lg-12 row">
      <div class="col-lg-8"></div>
      <div class="col-lg-2 item-footer-label">VAT AMOUNT</div>
      <div class="col-lg-2 item-footer">155</div>
    </div>
  </div>

  
  <div class="col-lg-12 items-footer">
      <div class="col-lg-12 row">
        <div class="col-lg-8"></div>
        <div class="col-lg-2 item-footer-label" style="font-weight: bold;">TOTAL</div>
        <div class="col-lg-2 item-footer" style="font-weight: bold;">155</div>
      </div>
    </div>

  <div class="col-lg-12 invoice-footer">
    <p>
    <label>Make all checks payable to : <b>{{invoice.invoicer.accountNumber}}</b></label><br/>
    <label>BIC : 12345</label><br/>

    
    <label><b>{{invoice.invoicer.lastname}}</b></label><br/>
    <label>VAT N°: <b>{{invoice.invoicer.vat}}</b></label><br/>
    <label>{{invoice.invoicer.address.street}}</label><br/>
    <label>{{invoice.invoicer.address.postcode}}, {{invoice.invoicer.address.city}}</label><br/>
    </p>
    <p>if you have any question concerning this invoice, contact <b>{{invoice.invoicer.phoneNumber}}</b> or {{invoice.invoicer.mail}}</p>
  </div>
</div>
