.table-product-selection > .content {
    /*background-color: #ededed;*/
    border-top: dashed 1px #ccc;
    padding: 15px;
    cursor: pointer;
}
.table-product-selection > .content:hover {
    background-color: #ffe674;
}