.table-product-selection > .content {
    /*background-color: #ededed;*/
    border-top: dashed 1px #ccc;
    padding: 15px;
    cursor: pointer;
}
.table-product-selection > .content:hover {
    background-color: #ffe674;
}

.form-group > label {
    text-align: right;
    font-weight: 600;
    color: rgb(110, 110, 110);

}

textarea.form-control {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.image {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    cursor: pointer;
}
img {
    
    max-width: 100%;
    max-height: 100%;
}


/* Add a hover effect (blue shadow) */
div.image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.img-next {
    right: 5px;
}
.img-prev {
    left: 5px;
}
.img-next, .img-prev {
    cursor: pointer;
    position:absolute; 
    background-color: rgb(124, 124, 124);
    color: #ddd;
    top:50%;
}
.img-next:hover, .img-prev:hover {
    border: solid 2px #ffe674;
}