<div class="main col-lg-12 row">
  <div class=" col-lg-6">
    <div class="container col-lg-12">
      <h5>{{current?'Edit invoice':'Add new invoice'}}</h5>
      <a class="{{current?'':'hide'}} button new-invoice" (click)="newInvoice()" >new</a>

      <div class="col-lg-12 row">
        <div class="col-lg-12 row invoicer-edit">
          
          <div class="col-lg-4">
            <label for="invoice_title">Name</label>
            <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.name" placeholder="me">
          </div>
          
          <div class="col-lg-8">
            <label for="invoice_title">VAT</label>
            <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.vat" placeholder="BE123456789">
          </div>
          
          <div class="col-lg-4">
            <label for="invoice_title">Street</label>
            <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.street" placeholder="Rue du milieu, 6">
          </div>
          
          <div class="col-lg-4">
            <label for="invoice_title">City</label>
            <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class=""  [(ngModel)]="invoice.city" placeholder="Bruxelles">
          </div>
          
          <div class="col-lg-4">
            <label for="invoice_title">Postcode</label>
            <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class=""  [(ngModel)]="invoice.postcode" placeholder="1000">
          </div>

        </div>
        <div class="col-lg-12 row invoiced-edit">
            <div class="col-lg-4">
              <label for="invoice_title">Customer</label>
              <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.cust_name" placeholder="customer">
            </div>
            <div class="col-lg-8">
              <label for="invoice_title">VAT</label>
              <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.cust_vat" placeholder="BE123456789">
            </div>
            <div class="col-lg-4">
              <label for="invoice_title">Street</label>
              <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.cust_street" placeholder="Rue du milieu, 6">
            </div>
            
            <div class="col-lg-4">
              <label for="invoice_title">City</label>
              <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.cust_city" placeholder="Bruxelles">
            </div>

            <div class="col-lg-4">
              <label for="invoice_title">Postcode</label>
              <input [ngModelOptions]="{standalone: true}" name="invoice_title" id="invoice_title" type="text" class="form-"  [(ngModel)]="invoice.cust_postcode" placeholder="1000">
            </div>

        </div>
      </div>
      
      <hr/>
      
      <app-item-list [invoice]="invoice"></app-item-list>

      <button  (click)="save()" type="button" class="btn btn-outline-secondary  new-invoice">Save invoice</button>

    </div>
    <div class="container col-lg-12" style="margin-top:10px">
      <h5>History</h5>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Period</th>
              <th scope="col">Customer</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of history">
              <th scope="row">{{i.id}}</th>
              <td>{{i.date}}</td>
              <td>{{i.cust_name}}</td>
              <td><a (click)="openInvoice(i)" class="button">open</a></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class=" col-lg-6">
    <app-invoice-preview [invoice]="invoice"></app-invoice-preview>
  </div>
</div>