<div class="main row">
  <div class="col-lg-12">
    <div class="col-lg-12 row">
      <div *ngIf="!current " class="col-lg-12">
        <button class="btn btn-outline-secondary" (click)="openModal(invoiceContent)">
          <fa-icon [icon]="faPlus"></fa-icon>
          Add
        </button>&nbsp;
        <button class="btn btn-outline-success {{newVersion?'active':''}}" (click)="newVersion = !newVersion">
          <fa-icon [icon]="faList"></fa-icon>
        </button>
        <div  *ngIf="!newVersion">
        <div class="container-table-items col-lg-12">
          <div class="row new-items table-header">
            <div class="col-lg-1">#</div>
            <div class="col-lg-3">Invoicer</div>
            <div class="col-lg-2">Customer</div>
            <div class="col-lg-2">vat</div>
            <div class="col-lg-2">Status</div>
            <div class="col-lg-1"><fa-icon [icon]="faPaperclip"></fa-icon></div>
            <div class="col-lg-2"></div>
          </div>
          <div *ngFor="let i of history; let idx = index" class="row add-items table-items">
            <div class="col-lg-1">{{ i.invoiceNumber }}</div>
            <div class="col-lg-3">{{i.invoicer.firstname}} {{i.invoicer.lastname}}</div>
            <div class="col-lg-2">{{i.invoiced.firstname}}</div>
            <div class="col-lg-2">{{i.invoiced.vat}}</div>
            <div class="col-lg-2" *ngIf="!i.status && i.status != 0"></div>
            <div class="col-lg-2" *ngIf="i.status == 0"><span class="inv-status open-status">open</span></div>
            <div class="col-lg-2" *ngIf="i.status == 1"><span class="inv-status ready-status">ready</span></div>
            <div class="col-lg-2" *ngIf="i.status == 2"><span class="inv-status close-status">closed</span></div>
            <div class="col-lg-1">
              <span  *ngIf="!i.attachments || !i.attachments.length">{{i.attachments.length}}</span>
              <div  *ngIf="i.attachments && i.attachments.length" ngbDropdown class="d-inline-block" style="cursor: pointer;">
                  <span ngbDropdownToggle>{{i.attachments.length}}</span>
                  <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
                    <div *ngFor="let a of i.attachments">
                      <a [href]="downloadAttachment(a)">{{a.fileName}}</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
              <div ngbDropdown class="d-inline-block">
                <fa-icon [icon]="faEllipsisH" class="option-list-button" id="dropdown" ngbDropdownToggle></fa-icon>

                <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
                  <div (click)="openInvoice(i)">
                    <fa-icon [icon]="faFolderOpen"></fa-icon>
                    Open
                  </div>
                  <div (click)="openModal(content, i)">
                    <fa-icon [icon]="faEye"></fa-icon>
                    Preview
                  </div>
                  <div (click)="generatePdf(i)">
                    <fa-icon [icon]="faFilePdf"></fa-icon>
                    Download PDF
                  </div>
                  <div (click)="sendMail(i.id)">
                    <fa-icon [icon]="faMailBulk"></fa-icon>
                    Send MAIL
                  </div>
                  <div (click)="deleteInvoice(i)" *ngIf="i.status != 2">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                    Delete
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <app-pagination [restService]="invoiceService" (newData)="refreshGrid($event)"></app-pagination>
        </div>




        <!-- NEW VERSION -->

        <div class="container-new-version col-lg-12 row">
          <div class="col-lg-8" *ngIf="!current && newVersion">
          <div *ngFor="let i of history" class="col-lg-12 col-sm-12 new-table-invoice {{i.status==0?'invoice-open':'invoice-close'}} {{idDetailsSelected==i.id?'selected':''}} row" (click)="openDetails(i)" style="cursor: pointer;" >
              <div class="col-sm-12 col-lg-1 status">&nbsp;</div>
            <div class="col-lg-2" *ngIf="i.invoicer.logo" style="overflow: hidden">
              <!--
                              <img [src]="uploadService.getResourcePath(i.invoicer.logo)" height="75"/>&nbsp;
              -->
              <app-image-loader [image]="i.invoicer.logo"></app-image-loader>
            </div>
              <div class="col-lg-9 row">
                <div class="col-lg-7">
                  <div class="col-lg-12 title">{{i.title}}</div>
                  <div class="col-lg-12 number">{{i.invoiceNumber}}</div>
                  <div class="col-lg-12 row">
                    <div class="col-lg-6 row">
                      <div class="col-lg-12">{{i.invoicer.firstname}}</div>
                      <div class="col-lg-12 number">{{i.invoicer.vat}}</div>
                    </div>
                    <div class="col-lg-6 row">
                      <div class="col-lg-12">{{i.invoiced.firstname}}</div>
                      <div class="col-lg-12 number">{{i.invoiced.vat}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                    <div class="number">
                    <div ngbDropdown class="d-inline-block" style="cursor: pointer;">
                        <span ngbDropdownToggle><fa-icon [icon]="faPaperclip"></fa-icon> {{i.attachments.length}}</span>
                        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
                          <div *ngFor="let a of i.attachments">
                            <a [href]="downloadAttachment(a)">{{a.fileName}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3">
                  <span class="total-invoice">{{calculateTotalRate(i)}}</span> €<br/>
                  <span class="number">{{calculateTotalVatRate(i)}} €</span>
                </div>
              </div>

            <div class="col-lg-1">
                <div class="number">
                <div ngbDropdown class="d-inline-block" style="cursor: pointer;">
                  <span class="btn" ngbDropdownToggle></span>
                  <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
                    <div (click)="openInvoice(i)">
                      <fa-icon [icon]="faFolderOpen"></fa-icon>
                      Open
                    </div>
                    <div (click)="openModal(content, i)">
                      <fa-icon [icon]="faEye"></fa-icon>
                      Preview
                    </div>
                    <div (click)="generatePdf(i)">
                      <fa-icon [icon]="faFilePdf"></fa-icon>
                      Download PDF
                    </div>
                    <div (click)="sendMail(i.id)">
                      <fa-icon [icon]="faMailBulk"></fa-icon>
                      Send MAIL
                    </div>
                    <div (click)="deleteInvoice(i)" *ngIf="i.status != 2">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                      Delete
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
          <app-pagination [restService]="invoiceService" (newData)="refreshGrid($event)"></app-pagination>
          </div>
          <div class="col-lg-4 details-container" *ngIf="details && newVersion">
            <div class="col-lg-12" *ngIf="details.items.length == 0"><h5>No items</h5></div>
            <div class="col-lg-12 row details-row" *ngFor="let d of details.items">

              <div class="col-lg-6 row">
                <div class="col-lg-12">
                  {{d.project}}
                </div>
                <div class="col-lg-12 number">
                  {{d.nature}}
                </div>
              </div>
              <div class="col-lg-6 title">
                <div class="col-lg-12 detail-total-item">{{d.rate * d.days}} €</div>
                <div class="col-lg-12 number">{{d.rate}} € X {{d.days}} days</div>
              </div>
            </div>
          </div>
        </div>
        <!-- NEW VERSION -->


      </div>
      &nbsp;
      <div class="col-lg-12" *ngIf="current">
        <div class="row">
          <div class="col-lg-4">
            <label class="label" for="invoiceNumber">Invoice number</label>
            <input class="form-control" id="invoiceNumber" type="text" [(ngModel)]="current.invoiceNumber">
          </div>
          <div class="col-lg-4">
            <label class="label" for="invoiceTitle">Title:&nbsp;</label>
            <input class="form-control" id="invoiceTitle" type="text" [(ngModel)]="current.title">
          </div>
          <div class="col-lg-2">
            <label class="label" for="invoiceStatus">Status:&nbsp;</label>
            <select id="invoiceStatus" class="custom-select " [(ngModel)]="current.status">
              <option value="0">Open</option>
              <option value="2">Closed</option>
            </select>
          </div>

          &nbsp;
          <div class="col-lg-2">
            <button class="btn btn-dark text-white" (click)="invoiceBack()"><fa-icon [icon]="faArrowLeft"></fa-icon>
                Back
            </button>&nbsp;
            <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
          </div>
        </div>
        <hr>
        <div class="onglet col-lg-12 row">
          <div class="col-lg-1 header-icon {{listOpened == 'items'? 'open':''}}" (click)="openList('items')">
            <div class="col-lg-3"><fa-icon [icon]="faListAlt"></fa-icon></div>
            <div class="col-lg-9">Items</div>
          </div>
          <div class="col-lg-1 header-icon {{listOpened == 'attachments'?'open':''}}" (click)="openList('attachments')">
            <div class="col-lg-3"><fa-icon [icon]="faPaperclip"></fa-icon></div>
            <div class="col-lg-9">Attachments</div>
          </div>

          <div class="col-lg-1 header-icon {{listOpened == 'products'?'open':''}}" (click)="openList('products')">
            <div class="col-lg-3"><fa-icon [icon]="faListAlt"></fa-icon></div>
            <div class="col-lg-9">Products</div>
          </div>
        </div>
        <app-attachment-list [invoice]="current" *ngIf="current && listOpened == 'attachments'"></app-attachment-list>
        <app-item-list [invoice]="current" *ngIf="current && listOpened == 'items'"></app-item-list>

        <div class="col-lg-12 row" *ngIf="current && listOpened == 'products'">
          <div class="col-lg-7">
            <h5>Products</h5>
            <span class="btn btn-outline-dark" (click)="current.products = []">Clear selection</span>
            <div class="col-lg-12 row selected-product-header">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">Name</div>
                <div class="col-lg-3">Unit price</div>
                <div class="col-lg-2">Quantity</div>
                <div class="col-lg-3">Unit of measure</div>
            </div>
            <div  class="col-lg-12 row selected-product-content" *ngFor="let p of current.products;let i = index">
              <div class="col-lg-1"><span click="remove">-</span></div>
              <div class="col-lg-3"><input [(ngModel)]="p.name"></div>
              <div class="col-lg-3"><input [(ngModel)]="p.unitPrice"></div>
              <div class="col-lg-2"><input [(ngModel)]="p.quantity"></div>
              <div class="col-lg-3"><input [(ngModel)]="p.unitOfMeasure"></div>

              <!--<button (click)="removeProduct(i)">-</button>-->
            </div>
          </div>
          <div class="col-lg-5" style="background-color:#fffbdf">
            <app-product (productSelected)="productSelected($event)" [selectOnly]="true"></app-product>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" class="col-lg-12">
  <div class="modal-header col-lg-12">
    <h4 class="modal-title" id="modal-basic-title">Invoice preview</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-invoice-preview [invoice]="preview"></app-invoice-preview>
</ng-template>

<ng-template #invoiceContent let-c="close" let-d="dismiss" class="col-lg-12">
  <div class="modal-header col-lg-12">
    <h4 class="modal-title" id="modal-basic-title">New Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="col-lg-12 row">

    <div class="col-lg-6 current-profile">
      <h5>My current profile</h5>
      <div>
        <p>{{currentProfile.firstname}}, {{currentProfile.lastname}}</p>
        <p>{{currentProfile.vat}}</p>
        <p>{{currentProfile.accountNumber}}</p>
        <p>{{currentProfile.address.street}}, {{currentProfile.address.streetNumber}}</p>
        <p>{{currentProfile.address.city}} {{currentProfile.address.postcode}}, {{currentProfile.address.country}}</p>
      </div>
    </div>

    <div class="col-lg-6 customer-profile" *ngIf="currentCustomer">
      <h5>Customer to invoice</h5>
      <div>
        <p>{{currentCustomer.firstname}}, {{currentCustomer.lastname}}</p>
        <p>{{currentCustomer.vat}}</p>
        <p>{{currentProfile.accountNumber}}</p>
        <p>{{currentCustomer.address.street}}, {{currentCustomer.address.streetNumber}}</p>
        <p>{{currentCustomer.address.city}} {{currentCustomer.address.postcode}},
          {{currentCustomer.address.country}}</p>
      </div>
    </div>

    <div class="col-lg-12 ">
      <table class="col-lg-12">
        <tbody>
        <tr>
          <td colspan="3" class="search"><input type="text" (keyup)="searchProfiles($event)"
                                                class="offset-lg-6 col-lg-5">
            <fa-icon [icon]="faSearch"></fa-icon>
          </td>
        </tr>
        <tr *ngFor="let i of profilesFound" class="new-invoice-profiles" (click)="selectCustomer(i)">
          <td>{{i.firstname}}</td>
          <td>{{i.lastname}}</td>
          <td>{{i.vat}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer col-lg-12">
    <button (click)="save()" type="button" class="btn btn-outline-secondary  new-invoice">Create invoice</button>
  </div>
</ng-template>
<ng-template #menu>
  <ul>
    <li>test</li>
    <li>test</li>
    <li>test</li>
  </ul>
</ng-template>
