/*.invoicer-edit, .invoiced-edit {
    border : solid 1px #999;
    padding : 25px;
    margin-bottom: 5px;
}*/
.invoiced-edit label, .invoicer-edit label {
    display: block;
    margin: 0px;
}
.modal-dialog {
    max-width: 750px !important;
}
.new-invoice-profiles {
    border : solid 1px #EDEDED;
}
.new-invoice-profiles:hover {
    background-color : #EDEDED;
}
.new-invoice-profiles > td {
    padding: 10px;
}
.current-profile > div, .customer-profile > div {
    
    border: solid 1px #575757;
    border-radius: 0px 5px 5px 0px;
    background-color: #ed9f3d;
    color: #2a2a2a;
    padding: 15px;
    margin-bottom: 15px;
}
.current-profile > div > p, .customer-profile > div > p{
    margin-bottom: 1px;
}

.customer-profile > div {
    background-color: #3ded8c;    
    border-radius: 5px 0px 0px 5px ;
}