
.details-logo > img{
    margin-top: 15px;
    background-color: #fff;
    border-radius: 50px;
    border: solid 1px #c5c5c5;
}

.detail-total-item {
    font-weight: 600;
}
.details-container {
    background-color: #f6ffef;
    border-radius: 5px 5px 0px 0px;
    border: solid 1px #b7b7b7;
    padding-right: 0px;
    padding-left: 0px;

}
.details-row {
    border-bottom: dashed 1px #c5c5c5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
}

.container-new-version {
    margin-top: 15px;
}
.new-table-invoice{
    border: solid 1px #c5c5c5;
    margin-bottom: 2px;
    padding: 0;
    border-radius: 0;
}
.new-table-invoice:hover > .status{
    max-width: 15px !important;
}
.new-table-invoice.invoice-close {
    border-color: var(--invoice-close-color);
}
.new-table-invoice.invoice-close > .status{
    background-color: var(--invoice-close-color);
    max-width: 7px;
    padding: 0;
}
.new-table-invoice.invoice-open {
    border-color: var(--invoice-open-color);
}
.new-table-invoice.invoice-open > .status{
    background-color: var(--invoice-open-color);
    max-width: 7px;
    padding: 0;
}
.new-table-invoice > div  {
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.total-invoice {
    font-weight: 600;
    font-size: 18px;

}
/*
.new-table-invoice {
    transition: border-radius 0.3s linear;
    transition: box-shadow 0.3s linear;
}
  
.new-table-invoice:hover { 
    border-radius: 0px 10px 0px 0px;
    box-shadow: 1px 1px 1px 1px #858585;
}*/


.new-table-invoice > div > div > .title {

    font-size: 16px;
    font-weight: 600;
}
.number {
    color: #8a8a8a;
    font-size: 12px;
}

/*.invoicer-edit, .invoiced-edit {
    border : solid 1px #999;
    padding : 25px;
    margin-bottom: 5px;
}*/
.invoiced-edit label, .invoicer-edit label {
    display: block;
    margin: 0px;
}
.modal-dialog {
    max-width: 750px !important;
}
.new-invoice-profiles {
    border : solid 1px #EDEDED;
}
.new-invoice-profiles:hover {
    background-color : #EDEDED;
}
.new-invoice-profiles > td {
    padding: 10px;
}
.current-profile > div, .customer-profile > div {
    margin-bottom: 15px;
}
.current-profile {
    text-align: right;
    border-right: solid 1px #ededed;
}
.current-profile > div > p, .customer-profile > div > p {
    
        /* border: solid 1px #e9e9e9; */
    /* background-color: #ededed; */
    color: #8a8a8a;
    padding: 5px;
    margin-bottom: 15px;
    margin-bottom: 1px;
}

.customer-profile > div {
   /* background-color: #3ded8c;    */
    border-radius: 5px 0px 0px 5px ;
}
.search > input {
    margin-right: 15px;
    margin-top: 15px;
}
.modal-header {
    margin-bottom: 15px;
}
.inv-status {
    display: inline-block;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    max-width: 60px;
    min-width: 60px;
}
.open-status {
    background-color: #66ff7a;
}
.close-status {
    background-color: #ff7866
}
.ready-status {
    background-color: #669cff;
}
.file-handler > input[type="file"] {
  display: none;
}
i{
  vertical-align: middle;
}
