<div class="col-lg-12">
  <div class="col-lg-12 row">
    <div class="col-lg-12" *ngIf="settings">
      <label for="currentInvoiceNumber">Current invoice number</label>
      <input class="form-control"  id="currentInvoiceNumber" type="number" [(ngModel)]="settings.currentInvoiceNumber">
    </div>
    <div class="col-lg-12" *ngIf="settings">
      <label for="currentRate">Current rate</label>
      <input  class="form-control" id="currentRate" type="number" [(ngModel)]="settings.currentRate">
    </div>
    <div class="col-lg-12" *ngIf="settings">
      <label for="currentVatRate">Current VAT rate</label>
      <input  class="form-control" id="currentVatRate" type="number" [(ngModel)]="settings.currentVatRate">
    </div>
    <div class="col-lg-12">
      <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
  </div>

</div>
