<app-title-page [menu]="menu"></app-title-page>

<div class="row">
    <div class="col-lg-6">
    <h3 class="col-lg-12">{{'menu.invoice'|translate}}</h3>
    <div class="col-lg-12" *ngIf="settings">
      <label for="currentInvoiceNumber">{{'page.settings.currentInvoiceNumber'| translate}}</label>
      <input class="form-control"  id="currentInvoiceNumber" type="number" [(ngModel)]="settings.currentInvoiceNumber">
    </div>
    <div class="col-lg-12" *ngIf="settings">
      <label for="currentRate">{{'page.settings.currentRate' | translate}}</label>
      <input  class="form-control" id="currentRate" type="number" [(ngModel)]="settings.currentRate">
    </div>
    <div class="col-lg-12" *ngIf="settings">
      <label for="currentVatRate">{{'page.settings.currentVatRate' | translate}}</label>
      <input  class="form-control" id="currentVatRate" type="number" [(ngModel)]="settings.currentVatRate">
    </div>
    <div class="col-lg-12">
      <button type="button" class="btn btn-outline-dark" (click)="save()">{{'common.action.save'|translate}}</button>
    </div>
    </div>
    <div class="col-lg-6">
    <h3 class="col-lg-12">{{'page.items.unitOfMeasure'|translate}}</h3>
      
      
      <div class="col-lg-12" *ngIf="settings">
        <label for="uomName">Name</label>
        <input  class="form-control" id="uomName" [(ngModel)]="newUom.name">
      </div>
      <div class="col-lg-12" *ngIf="settings">
        <label for="uomSymbol">Symbol</label>
        <input  class="form-control" id="uomSymbol" [(ngModel)]="newUom.symbol">
      </div>
      <div class="col-lg-12">
        <button type="button" class="btn btn-outline-dark" (click)=saveNewUom()>{{'common.action.save'|translate}}</button>
        <button type="button" class="btn btn-outline-dark" (click)=resetNewUom()>{{'common.action.reset'|translate}}</button>
      
      </div>
      <div class="col-lg-12" *ngIf="settings">
          <app-data-table
            [dataSource]="uomRestService"
            [dataColumns]="[
            {field: {name: 'name'}, label: 'Name'},
            {field: {name: 'symbol'}, label: ''}
            ]"
          ></app-data-table>
      </div>

    </div>
  </div>
